<div>
    <h1>Login</h1>
    <form id="loginForm">

        <label>Email</label>
        <input name="email">
        <br />

        <label>Contraseña</label>
        <input name="password">
        <br />

        <input type="submit">
    </form>
    <div id="error-message" style="color: red; display: none;">Usuario y/o contraseña incorrecta. Por favor, inténtelo de nuevo.</div>
    <p>Si no tenes una cuenta: <a href="/users/register"> Ingrese aqui</a></p>
</div>

<script src="/js/login.js"></script>